

<div id="<%= dom_id comment %>" class="comment">
    <h3>
        <% username = comment.user.try(:username) %>
        <% if username %>
            <%= "@" + username%>
        <% else %>
            <%= "@deleted user" %>
        <% end %>
    </h3>
    <p><%= comment.body %></p>
</div>

