<%= form_with model: [post, post.comments.new ], class: "comment_form" do |form| %>

  <div>
    <%= form.label "Add a Comment", class: "label" %>
    <%= form.text_area :body, class: "text_box" %>
  </div>

  <div>
    <%= form.submit "Create Comment", :class => "button" %>
  </div>
<% end %>