/* line 1, app/assets/stylesheets/posts.scss */
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* line 7, app/assets/stylesheets/posts.scss */
.post_controls {
  margin-top: 2em;
  margin-bottom: 1em;
  width: calc(max(600px, 40%));
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

/* line 16, app/assets/stylesheets/posts.scss */
.button {
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 10em;
  background-color: lightsteelblue;
  border-radius: 5px;
  border: 2px solid black;
}

/* line 31, app/assets/stylesheets/posts.scss */
.button_normalize {
  height: 100%;
  font-family: 'Montserrat';
  font-size: 18px;
}

/* line 37, app/assets/stylesheets/posts.scss */
#posts {
  margin: 5em 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  grid-template-rows: 2em;
  width: 60%;
  column-gap: 20px;
  row-gap: 10px;
  grid-auto-rows: 150px;
}

/* line 46, app/assets/stylesheets/posts.scss */
#posts h1 {
  font-size: 2.5em;
  font-weight: 800;
}

/* line 52, app/assets/stylesheets/posts.scss */
.post {
  grid-row: -1 / span 1;
  height: 100%;
  background-color: white;
}

/* line 57, app/assets/stylesheets/posts.scss */
.post h1 {
  font-size: 2.5em;
  font-weight: 800;
  text-decoration: underline;
}

/* line 63, app/assets/stylesheets/posts.scss */
.post h3 {
  font-style: italic;
  padding-top: 0.2em;
}

/* line 68, app/assets/stylesheets/posts.scss */
.post p {
  padding: 1em 0;
  font-size: 18px;
}

/* line 73, app/assets/stylesheets/posts.scss */
.post hr {
  width: 90%;
  margin: 1em 5% 0 5%;
}

/* line 78, app/assets/stylesheets/posts.scss */
a {
  text-decoration: inherit;
  color: black;
}

/* line 83, app/assets/stylesheets/posts.scss */
.preview {
  border: 1px grey solid;
  border-radius: 20px;
  box-shadow: -2px 2px 4px lightgray;
  padding: 1em 2em;
}

/* line 90, app/assets/stylesheets/posts.scss */
.show {
  width: calc(max(600px, 40%));
  margin-top: 0.5em;
}

/* line 95, app/assets/stylesheets/posts.scss */
.post_form {
  width: calc(max(600px, 40%));
}

/* line 98, app/assets/stylesheets/posts.scss */
.post_form label {
  font-size: 1.5em;
  margin: 0.5em 0 0.1em 0;
}

/* line 103, app/assets/stylesheets/posts.scss */
.post_form .title {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

/* line 108, app/assets/stylesheets/posts.scss */
.post_form .text_box {
  min-width: 100%;
  max-width: 100%;
  min-height: 4em;
  margin: 1em 0;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
