<div class="display">
    <div class="center">
        <div class="info">
            <div class="personal">
                <%= image_tag "pfp.png", class:"img_placeholder" %>
                <h2>Vincent Yee</h2>
                <h3>v3yee@uwaterloo.ca</h3>
                <h3>(403) 402 5999</h3>
                <h3></h3>
            </div>
            <a href="https://github.com/VincenzoY"><div class="connection"><h3><i class="fa-brands fa-github"></i> Github</h3><p>https://github.com/VincenzoY</p></div></a>
            <a href="https://www.linkedin.com/in/vincentwy/"><div class="connection"><h3><i class="fa-brands fa-linkedin"></i> LinkedIn</h3><p>https://www.linkedin.com/in/vincentwy/</p></div></a>
            <!--<a href="https://leetcode.com/VincenzoY/"><div class="connection"><h3>LeetCode</h3><p>https://leetcode.com/VincenzoY/</p></div></a> -->
            <a href="https://www.instagram.com/vincenzo_yee/"><div class="connection"><h3><i class="fa-brands fa-instagram"></i> Instagram</h3><p>https://www.instagram.com/vincenzo_yee/</p></div></a>
        </div>
    </div>
</div>