<div class="center vert-center s1">
    <div class="contact">
        <div class="personal">
            <h2>Vincent Yee</h2>
            <h3></h3>
        </div>
        <div class="connections">
            <div><h3>Github</h3><p>link here go here</p></div>
        </div>
    </div>
</div>