<div class="center vert-center s1">
    <div class="contact">
        <div class="personal">
            <div class="img_placeholder"></div>
            <h2>Vincent Yee</h2>
            <h3>v3yee@uwaterloo.ca</h3>
            <h3>(403) 402 5999</h3>
            <h3></h3>
        </div>
        <div class="connections">
            <a href=""><div><h3>Github</h3><p>link here go here</p></div></a>
            <a href=""><div><h3>LinkedIn</h3><p>link here go here</p></div></a>
            <a href=""><div><h3>LeetCode</h3><p>link here go here</p></div></a>
            <a href=""><div><h3>Youtube</h3><p>link here go here</p></div></a>
            <a href=""><div><h3>Youtube</h3><p>link here go here</p></div></a>
        </div>
    </div>
</div>