<div class="center vert-center">
    <div class="info">
        <div class="personal">
            <div class="img_placeholder"></div>
            <h2>Vincent Yee</h2>
            <h3>v3yee@uwaterloo.ca</h3>
            <h3>(403) 402 5999</h3>
            <h3></h3>
        </div>
        <a href=""><div class="connection"><h3>Github</h3><p>link here go here</p></div></a>
        <a href=""><div class="connection"><h3>LinkedIn</h3><p>link here go here</p></div></a>
        <a href=""><div class="connection"><h3>LeetCode</h3><p>link here go here</p></div></a>
        <a href=""><div class="connection"><h3>Youtube</h3><p>link here go here</p></div></a>
        <a href=""><div class="connection"><h3>Youtube</h3><p>link here go here</p></div></a>
    </div>
</div>