<div class="slide s1 center vert-center">
    <div>
        <h1>Hey there!<br>My name's Vincent</h1>
    </div>
</div>
<div class="slide s2">
    <div class="img-container">
        <%= image_tag("full_body_cal_back.jpg") %>
    </div>
    <div class="about">
        <h1>A little bit about me.</h1>
        <p>I'm a graduate of Dr. E P Scarlett High School, where I took Advanced Placement courses 
        and acheived the Advanced Placement Scholar with Distinction. Currently, I am a first year student at 
        the University of Waterloo studying Computer Science. 
        <br><br>
        I enjoy creating things! I like to use code to solve tangible problems and create satisfying solutions.
        <br><br>
        On a more personal note, my hobbies consist of playing video games, drawing and fencing. I also enjoy drinking some hot green tea on 
        cold days (Fun Fact: green tea is the color theme for this site)</p>
    </div>
</div>
<div class="slide s3">
    <div class="skills">
        <h1>Some of my skills</h1>
        <p>I'm learning back-end development using the Ruby language and the Ruby on Rails framework. For the front-end, I use HTML, SASS and Javascript. 
        In fact, this site was built using these skills I have learned. 
        My next goal is to gain proficency in Javascript as well as a JS framework.
        <br><br>
        I have also learned Python and it has become my main language for solving coding problems.</p>
    </div>
    <%= image_tag("sketch.png") %>
</div>