<div class="center">
  <div class="post_controls">
    <%= link_to "Back to posts", posts_path, class: "button" %>
    <%= link_to "Show this post", @post, class: "button" %>
  </div>
  <div class="post_form post">
    <h1>Editing post</h1>
    <%= render "form", post: @post %>
  </div>
</div>