<h1>Posts</h1>

<div id="posts">
  <table>
    <th>Username:</th>
    <th>Title:</th>
    <th>Text:</th>
    <th>Link:</th>
    <% @posts.each do |post| %>
      <tr>
        <%= render post %>
        <td><%= link_to "Show this post", post %></td>
      </tr>
    <% end %>
  </table>
</div>

<% if user_signed_in? %>
  <%= link_to "New post", new_post_path %>
  <%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete } %>
<% end %>


