
<div class="center vert-center">
  <div id="posts">
    <h1>Posts</h1>
    <% if user_signed_in? && current_user.try(:admin) %>
      <%= link_to "New Post", new_post_path, :class => "button"%>
    <% else %>
      <div></div>
    <% end %>
    <% @posts.each do |post| %>
      <%= link_to(post) do %>
        <%= render post, display: "preview" %>
      <% end %>
    <% end %>
</div>

</div>

