.vert-center {
    height: 100vh;
    justify-content: center;
}

.img_placeholder {
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.info {
    height: 500px;
    width: calc(max(600px, 60%));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 160px;
    grid-gap: 1em;
    color: white;

    .personal {
        grid-row: span 3;
        width: 100%;
        padding: 3em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(51,51,51);

        h2 {
            padding-top: 1em;
            font-size: 2em;
        }

        h3 {
            padding-top: 0.5em;
            font-size: 1.5em;
        }
    }

    .connection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        background-color: rgb(51,51,51);
        color: #FFFDD0;
        

        h3 {
            font-size: 24px;
            margin-bottom: 0.5em;
        }

        p {
            font-size: 18px;
        }
    }
}

.slide {
    height: Max(600px, 100vh);
}

.s1 {
    height: Max(600px, calc(100vh - 60px));
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(116,161,46,1) 0%, rgba(245,255,230,1) 100%);

    h1 {
        font-size: 48px;
        font-weight: 600;
    }
}

@mixin orient-slide() {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;   
}

@mixin text() {
    h1 {
        font-size: 2.5em;
        font-weight: 800;
        text-decoration: underline;
        margin-bottom: 0.5em;
    }

    p {
        line-height: 1.5em;
    }
}

.s2 {
    @include orient-slide;
    background-color: #FFFDD0;

    .img-container {
        width: 600px;
        height: 800px;
        overflow: hidden;

        img {
            margin-left: -600px;
            height: 1000px;
            margin-top: -150px;
        }

    }

    .about {
        width: Max(400px, 35%);
        @include text;
    }

}

.s3 {
    @include orient-slide();
    background-color: rgb(54, 54, 54);
    color: white;

    .skills {
        width: Max(400px, 35%);
        @include text;
    }
}