
.vert-center {
//    height: Max(100vh, 100%);
    justify-content: center;
}

.img_placeholder {
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.info {
    width: calc(max(300px, 70%));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 160px;
    grid-gap: 1em;
    color: white;
    margin: 10em 0;
    justify-content: center;

    .personal {
        grid-row: span 3;
        width: 100%;
        padding: 3em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(51,51,51);
        color: #FFFDD0;

        h2 {
            padding-top: 1em;
            font-size: 2em;
            font-weight: 800;
        }

        h3 {
            padding-top: 0.5em;
            font-size: 1.5em;
        }
    }

    a {
        min-width: 0;
    }

    .connection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        background-color: rgb(51,51,51);
        color: #FFFDD0;
        text-align: center;
        

        h3 {
            font-weight: 800;
            font-size: 24px;
            margin-bottom: 0.5em;
        }

        p {
            font-size: 18px;
            width: 90%;
        }
    }
}

@media (max-width:1920px) {
    .info {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:1000px) {
    .info {
        grid-template-columns: 1fr;
        margin: 3em 0;
    }
}

.slide {
    height: 100%;
    padding: 5%;
}

@mixin orient-slide() {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;   
    transition: flex-direction 4s;
}

.s1 {
    @include orient-slide;
    height: Max(600px, calc(100vh - 60px));
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(116,161,46,1) 0%, rgba(245,255,230,1) 100%);
    

    h1 {
        font-size: 48px;
        font-weight: 600;
    }

    h3 {
        margin-top: 0.5em;
        font-size: 18px;
    }
}

@mixin text() {
    h1 {
        font-size: 2.5em;
        font-weight: 800;
        text-decoration: underline;
        margin-bottom: 0.5em;
    }

    p {
        line-height: 1.5em;
    }
}

.s2 {
    @include orient-slide;
    background-color: #FFFDD0;

    .img-container {
        width: Max(350px, 40%);
        height: 600px;
        overflow: hidden;

        img {
            margin-left: -600px;
            height: 1000px;
            margin-top: -300px;
        }

    }

    .about {
        width: Max(300px, 35%);
        @include text;
    }

}

.s3 {
    @include orient-slide();
    background-color: rgb(54, 54, 54);
    color: white;

    .skills {
        width: Max(300px, 35%);
        @include text;
    }

    img {
        width: Max(350px, 20%);
        overflow: hidden;
    }
}

@media (max-width:1080px) {
    .s1, .s2, .s3 {
        flex-direction: column;

        div {
            margin: 10% 0;
        }
    }
    
}